.app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .array {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 480px;
        margin: 0 auto 1rem;
        .array-bar {
            background-color: rgb(196, 135, 231);
            width: 4px;
            margin: auto 0.1rem 0;
        }
    }

    .buttons {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;

        .speed {
            display: flex;
            justify-content: space-between;
            .text {
                justify-content: center;
                width: 1rem;
                padding: 0.5rem 1rem;
                background-color: rgb(239, 239, 239);
                margin: 0 0;
            }
            .down{
                background-color: red;
                border-top-left-radius: 0.2rem;
                border-bottom-left-radius: 0.2rem;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                margin-right: 0;
            }
            .up {
                background-color: green;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                border-top-right-radius: 0.2rem;
                border-bottom-right-radius: 0.2rem;
                margin-left: 0;
            }
            .down:hover {
                background-color: rgb(110, 0, 0);
            }
            .up:hover {
                background-color: rgb(0, 80, 0);
            }
        }
    }

    button {
        margin: 0 0.5rem;
        padding: 0.5rem 1rem;
        font-size: 1.1rem;
        border: none;
        border-radius: 0.2rem;
    }

    button:hover {
        background-color: grey;
    }

    button:focus {
        outline: none;
        box-shadow: none;
    }
}
